# MacOS files
.DS_Store

# JetBrains IDE
.idea/

# exclude (big) data files, but keep example
/data/*
!/data/example1-ev/
/data/example1-ev/*
!/data/example1-ev/documents
!/data/example1-ev/*.*
!/data/examples/*.*

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Distribution / packaging
*.egg-info/

# Secret files
.env