# MacOS files
.DS_Store

# JetBrains IDE
.idea/

# exclude big data files
/data/*
!/data/examples/

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Distribution / packaging
*.egg-info/